*{
    font-family: Tahoma;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    flex: 1;
}

.default-page-wrapper {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    box-sizing: border-box;
}

.back-color {
    background-color: #f0f8ff;
}

.form-error-text {
    display: block;
    color: #e97272;
    font-size: 12px;
    height: 14px;
    max-width: 100%;
    padding-left: 1px;
}

.error-text-color {
    color: #e97272;
}

.form-title {
    font-size: 18px;
    max-width: 100%;
    padding-left: 1px;
}


::-webkit-scrollbar {
    background-color: #f0f8ff;
}

::-webkit-scrollbar-thumb {
    background-color: #363636cc;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #9facb9;
    background-color: #ffffff00;
}